<div class="am-console">
  <div class="am-console-content" #messageContainer>
    <div class="am-console-message" *ngFor="let message of recentMessages">
      <div class="am-console-message-container"
           [class.right]="message.isYour"
           [class.left]="!message.isYour"
      >
        <div class="am-console-message-text" >
           <p *ngFor="let line of message.content" [innerHtml]="line"></p>
        </div>

        <div class="am-console-message-photo">
          <img alt=""
               [src]="user.photoUrl">
        </div>
      </div>
    </div>
  </div>
  <div class="am-console-input">
    <div class="input-group am-console-input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Your command"
        aria-label="Your command"
        aria-describedby="basic-addon2"
        [value]="messageContent"
        (input)="messageContent = $event.target.value"
        (keyup.enter)="sendYourMessage()">

      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="sendYourMessage()">Send
      </button>
    </div>
  </div>
</div>
